.ELInput {
	width: 25px;
}

.NMInput {
	width: 300px;
}

.TrigerInput {
	width: 200px;
}

.LvInput {
	width: 25px;
}

.RemarksInput {

}

.XInput {
	width: 40px;
}

.YInput {
	width: 40px;
}

.Shout1Input {
	width: 200px;
}

.Shout2Input {

}

.Shout3Input {

}

.settingCaption {
	margin-top: 0px;
}